


.hero {
  background-image: url('Acessts/pexels-photo-3184357.jpeg');
  background-size: cover;
  text-align: left;
  padding: 200px;
  color: black;
}
.herodark {
  background-image: url('Acessts/Dark wallpaper.jpg');
  background-size: cover;
  text-align: left;
  padding: 200px;
  color: black;
}
span.dark-blue{
  color: blue;
}
nav.color{
  background-color: #363636;
}

.button2 {
  display: inline-block;
  border-radius: 40px;
  background-color: blue;
  border: none;
  color: White;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button2dark {
  display: inline-block;
  border-radius: 40px;
  background-color: blue;
  border: none;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button1 {
  display: inline-block;
  border-radius: 40px;
  background-color: white;
  border: 3px solid blue;
  color: black;
  text-align: center;
  font-size: 27px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.buttondark {
  display: inline-block;
  border-radius: 40px;
  background-color: black;
  border: 3px solid blue;
  color: white;
  text-align: center;
  font-size: 27px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
/*Footer*/

footer {
  background-color: rgb(23, 23, 23);
  color: white;
  padding: 20px;
  text-align: center;
}
footer.light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 8, 255);
  padding: 20px;
  text-align: center;
}



/*  navbar media    */



      @media screen and (max-width: 1190px){
    section.herodark{
      padding: 100px;
    }
    }
@media screen and (max-width: 728px) {
  section.herodark {
    padding: 80px;
  }
}
     @media screen and (max-width: 428px) {
       section.herodark {
         padding: 30px;
       }
     }


    @media screen and (max-width: 728px){
      section.hero{
        padding: 80px;
      }
      }
      @media screen and (max-width: 428px){
        section.hero{
          padding: 80px;
        }
        }

        @media screen and (max-width: 728px){
          h1.display-2{
            font-size: 45px;
          }
          }
          
@media screen and (max-width: 428px) {
  h1.display-2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 728px) {
  p.lead {
    font-size: 20px;
  }
}
@media screen and (max-width: 428px) {
  p.lead {
    font-size: 15px;
  }
}
